section.about 
    .container 
        +blockBox("What we do","Story about us ","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut necessitatibus repellat eveniet ipsum quod tempore quibusdam vero nemo iure hic consequatur facere asperiores consequuntur est maxime tempora, aperiam veritatis enim.")
        .about-list
            +aboutIMG("../images/mogo-template.jpg","Super Team","fa fa-heart")
            +aboutIMG("../images/img-about2.png","Lorem","fa fa-heart")
            +aboutIMG("../images/img-about3.png","Pretty","fa fa-heart")