section.number
    .container
        .number-list
            +numberBlock("42","Web design project")
            +numberBlock("123","Happy Client")
            +numberBlock("15","award winner")
            +numberBlock("99","cup of coffe")
            +numberBlock("24","members")