section.service 
    .container
        +blockBox("We work with","Amazing Services")
        .service-container
            .service-list   
                +serviceBlock("../images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.")
                +serviceBlock("../images/img-service-icon2.png","Web Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.")
                +serviceBlock("../images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.")
            .service-list
                +serviceBlock("../images/img-service-icon4.png","seo","lorLorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.em")
                +serviceBlock("../images/img-service-icon5.png","CSS/HTML","lorLorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.em")
                +serviceBlock("../images/img-service-icon6.png","digital","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam beatae atque repellendus enim impedit porro laboriosam inventore ad mollitia asperiores, eius accusantium aliquid vitae fugiat perferendis, doloribus placeat ducimus corrupti.") 