section.wedo 
    .container
        +blockBox("Service","What we do", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porro fuga?  ")
        .wedo-container
            img.wedo-image(src="../images/img-wedo.png")
            .wedo-content   
                +wedoItem("../images/img-wedo-icon1.png","photography","fal fa-angle-up","is-active","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porroLorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porro")
                +wedoItem("../images/img-wedo-icon2.png","creativity","fal fa-angle-down","","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porroLorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porro")
                +wedoItem("../images/img-wedo-icon3.png","web design","fal fa-angle-down","","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porroLorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolorem omnis quod expedita quasi delectus sed maxime aperiam id, nisi asperiores alias magni eum earum optio illo adipisci porro")
                //- accordian
