section.work 
    .container
        +blockBox("what we do","some of our work","Lorem")
    .work-list 
        .work-column
            +workItem("../images/img-work1.png")
            +workItem("../images/img-work2.png","fa fa-cog", "Frontend Developer")
        .work-column
            +workItem("../images/img-work3.png")
            +workItem("../images/img-work4.png","fa fa-cog")
        .work-column
            +workItem("../images/img-work5.png","fa fa-heart","Super heart","work-item--full")
        .work-column
            +workItem("../images/img-work6.png")
            +workItem("../images/img-work7.png")
